* {
  box-sizing: border-box;
}

body {
  font-size: $font-size;
}

body.container-fluid {
  padding: 0;
}

nav.navbar {
  background-color: $default-background;
}

form#sign-out {
  padding-bottom: $log-out-spacing;
}

div.intro {
  max-width: 600px;
  margin: 75px $horizontal-margin 0;
}

div.train {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

section.column {
  display: flex;
  flex-direction: row;
  flex: 1 0 5em;
  flex-shrink: 1;
  box-shadow: 0 0 30px $box-shadow;
  overflow: hidden;
  padding: 1em;
  transition: flex-basis 500ms ease-in-out;
  height: 100vh;
}

section.program {
  background-color: $default-background;
}

section.runs {
  background-color: $secondary-color;
}

section.pace-chart {
  background-color: $default-background;
}

section.column:hover {
  flex-basis: 20em;
}

section.column:hover h4 {
  opacity: 1;
}

// div.panel-group {
//   margin-top: 100px;
//   margin-left: -150px;
//   padding: 0;
//   list-style: none;
//   opacity: 0;
//   transition: opacity 500ms ease-in-out;
// }

div.btn-group-justified {
  margin-left: -30px;
  margin-top: 50px;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

section.column:hover div.btn-group-justified {
  opacity: 1;
}

ul.weekly-workouts li {
  font-size: 1em;
  line-height: 2.5em;
  color: $white;
}

button.helper {
  background-color: $white;
  color: $secondary-color;
  border: none;
}

button.runs-btn {
  background-color: $white;
  border: none;
}

button.btn-primary {
  background-color: $secondary-color;
  color: $default-background;
  border: none;
}

button.btn-primary:hover {
  opacity: .7;
  background-color: $secondary-color;
  color: $default-background;
}

h1 {
  font-size: 2em;
  display: inline;
  position: $nav-title-position;
  top: -10px;
  letter-spacing: $letter-spacing;
  color: $white;
}

h2.runs {
  color: $default-background;
}

h2, h4 {
  color: $white;
  transition: opacity 500ms ease-in-out;
}

h4 {
  margin-top: 130px;
  margin-left: -150px;
  opacity: 0;
  text-transform: uppercase;
}

h4.modal-title {
  opacity: 1;
  color: $default-background;
}

p {
  font-size: 2em;
}

a {
  color: $default-background;
}

span {
  color: $secondary-color;
  text-transform: uppercase;
}

span.x {
  color: $default-background;
}
