* {
  box-sizing: border-box;
}

body {
  font-size: $font-size;
}

body.container-fluid {
  padding: 0;
}

nav.navbar {
  background-color: $default-background;
}

form#sign-out {
  padding-bottom: $log-out-spacing;
}

div.intro {
  max-width: 600px;
  margin: 75px $horizontal-margin 0;
}

div.train {
  display: flex;
  flex-direction: row;
}

section.column {
  display: flex;
  flex-direction: row;
  flex: 1 0 5em;
  flex-shrink: 1;
  box-shadow: 0 0 30px $box-shadow;
  overflow: hidden;
  padding: 1em;
  transition: flex-basis 500ms ease-in-out;
}

section.program {
  background-color: $default-background;
}

section.runs {
  background-color: $secondary-color;
}

section.pace-chart {
  background-color: $default-background;
}

section.column:hover {
  flex-basis: 20em;
}

section.column:hover div.panel-group {
  opacity: 1;
}

div.panel-group {
  margin-top: 100px;
  margin-left: -150px;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

div.btn-group-justified {
  margin-left: -30px;
  margin-top: 50px;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

section.column:hover div.btn-group-justified {
  opacity: 1;
}

ul.weekly-workouts li {
  font-size: 1em;
  line-height: 2.5em;
  color: $white;
}

button.runs {
  background-color: $white;
  border-color: $white;
}

h1 {
  font-size: 2em;
  display: inline;
  position: $nav-title-position;
  top: -10px;
  letter-spacing: $letter-spacing;
  color: $white;
}

h2 {
  color: $white;
}

h2.runs {
  color: $default-background;
}

p {
  font-size: 2em;
}

span {
  color: $secondary-color;
  text-transform: uppercase;
}

span.x {
  color: $default-background;
}
